@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    background: url(../img/index/jinglingtu.png);
}
.icon_origin{
    background-position: -28px -389px;
}
.icon_steam{
    background-position: -134px -388px;
}
.icon_Rstar{
    background-position: -313px -388px;
}
.icon_battle{
    background-position: -363px -389px;
}
@keyframes fd{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes down{
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
@keyframes rightslide{
    0%{
        left: -300px;
    }
    100%{
        left: 0;
    }
}
@keyframes onegroup{
    0%{
        width: 286px;
    }
    100%{
        width: 1212px;
    }
}
@keyframes onegroup_de{
    0%{
        width: 1212px;
    }
    100%{
        width: 286px;
    }
}
