/*********************轮播图*********************/
.banner {
  width: 100%;
  height: 465px;
  position: relative;
  display: block;
  margin: auto;
}
.banner > .banner_img {
  width: 100%;
  height: 465px;
  position: relative;
}
.banner > .banner_img > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner > .banner_img > div:nth-child(1) {
  background: url(../img/index/banner_1.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 1;
}
.banner > .banner_img > div:nth-child(2) {
  background: url(../img/index/banner_2.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(3) {
  background: url(../img/index/banner_3.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(4) {
  background: url(../img/index/banner_4.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(5) {
  background: url(../img/index/banner_5.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(6) {
  background: url(../img/index/banner_6.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(7) {
  background: url(../img/index/banner_7.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_img > div:nth-child(8) {
  background: url(../img/index/banner_8.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0;
}
.banner > .banner_contral {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.banner > .bannerContent {
  width: 1200px;
  height: 144px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
}
.banner > .bannerContent > .banner_menu {
  height: 144px;
  width: 380px;
  position: absolute;
  float: left;
  opacity: 0.8;
  z-index: 5  ;
}
.banner > .bannerContent > .banner_menu:nth-child(1) {
  left: 0;
  background: url(../img/index/banner_menu1.png) no-repeat;
}
.banner > .bannerContent > .banner_menu:nth-child(2) {
  left: 400px;
  background: url(../img/index/banner_menu2.png) no-repeat;
}
.banner > .bannerContent > .banner_menu:nth-child(3) {
  left: 800px;
  background: url(../img/index/banner_menu3.png) no-repeat;
}
.banner > .bannerContent > .banner_menu p {
  position: absolute;
  color: white;
}
.banner > .bannerContent > .banner_menu p:nth-child(1) {
  font-size: 26px;
  top: 35px;
  left: 50px;
}
.banner > .bannerContent > .banner_menu p:nth-child(2) {
  font-size: 20px;
  top: 75px;
  left: 50px;
}
.banner > .bannerContent > .banner_menu p:nth-child(3) {
  top: 67px;
  left: 287px;
}
.banner > .bannerContent > .banner_menu:hover {
  opacity: 1;
}
.banner > .slide_btn > .sb {
  width: 60px;
  height: 150px;
  position: absolute;
  top: 30%;
  display: none;
  z-index: 15;
}
.banner > .slide_btn > .sb_show {
  display: block;
}
.banner > .slide_btn > .sb_left {
  background: url(../img/index/cn_l.png) no-repeat;
  left: 50px;
}
.banner > .slide_btn > .sb_right {
  background: url(../img/index/cn_r.png) no-repeat;
  right: 50px;
}
/*********************详情栏--标题栏*********************/
.news {
  margin: auto;
  width: 1200px;
}
.news .title {
  width: 100%;
  height: 40px;
}
.news .title h3 {
  font-size: 20px;
  float: left;
  height: 25px;
  width: 200px;
  padding-right: 100px;
  overflow: hidden;
}
.news .title h3::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 20px;
  background: #FF2400;
  border-radius: 3px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.news .title > div {
  width: 1000px;
  height: 40px;
  float: left;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}
.news .title > div > .cab {
  width: 75px;
  height: 35px;
  float: left;
  text-align: center;
  line-height: 35px;
  margin-left: 50px;
  position: relative;
}
.news .title > div > .cab > span {
  display: none;
  width: 50px;
  height: 4px;
  position: absolute;
  background: #FF2400;
  border-radius: 2px;
  top: 35px;
  left: 12px;
}
.news .title > div .more {
  font-size: 16px;
  width: 80px;
  height: 35px;
  float: right;
  border: 1px solid #bdbdbd;
  text-align: center;
  line-height: 32px;
  border-radius: 7px;
}
.news .title > div > .act_cab {
  font-weight: 600;
}
.news .title > div > .act_cab > span {
  display: inline-block;
}
/*********************详情栏--PC游戏*********************/
.PCgame {
  height: 430px;
  margin: 75px auto;
}
.PCgame > .PC_game {
  height: 265px;
  margin-top: 35px;
  border-bottom: 1px solid #cdcdcd;
}
.PCgame > .PC_game > .PC_game_menu {
  height: 345px;
  width: 1200px;
  overflow: hidden;
  position: relative;
}
.PCgame > .PC_game > .PC_game_menu > ul {
  width: 2250px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.PCgame > .PC_game > .PC_game_menu > ul > li {
  width: 175px;
  height: 100%;
  margin-right: 50px;
  float: left;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a {
  display: block;
  width: 175px;
  height: 227px;
  position: relative;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a img {
  width: 160px;
  height: 212px;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a > .takeIt {
  width: 110px;
  height: 36px;
  background: #FF2400;
  line-height: 36px;
  text-align: center;
  border-radius: 18px;
  position: absolute;
  left: 24px;
  top: 95px;
  color: white;
  display: none;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a span {
  display: block;
  height: 34px;
  float: left;
  position: absolute;
  bottom: 15px;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a span:nth-of-type(1) {
  background: #52872f;
  width: 74px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 34px;
  color: #a0f76c;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a span:nth-of-type(2) {
  width: 54px;
  background: #203d50;
  color: #b1d2e7;
  font-size: 12px;
  left: 74px;
}
.PCgame > .PC_game > .PC_game_menu > ul > li a span:nth-of-type(2) > s {
  color: #50748b;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_date > p {
  position: relative;
  width: 112px;
  height: 17px;
  line-height: 17px;
  padding-left: 32px;
  margin-left: 23px;
  background-color: white;
  margin-top: 28px;
  margin-bottom: 25px;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_date > p > span {
  position: absolute;
  left: 12px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #dbdbdb;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_date > p > span > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  left: 4px;
  top: 4px;
  background: #efefef;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_js p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_js p:nth-child(1):hover {
  color: #FF2400;
}
.PCgame > .PC_game > .PC_game_menu > ul > li > .PC_js p:nth-child(2) {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.PCgame > .PC_game > .PC_game_menu > ul > li:hover > a > img {
  box-shadow: 9px 9px 10px #efab9d;
  display: block;
  border: 1.5px solid #e27a56;
}
.PCgame > .PC_game > .PC_game_menu > ul > li:hover > a > .takeIt {
  display: block;
}
.PCgame > .PC_game > .PC_game_menu > ul > li:hover > .PC_date > p > span {
  background: #FF2400;
}
.PCgame > .PC_game > .PC_game_menu > ul > span {
  width: 35px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  top: 70px;
}
.PCgame > .PC_game > .PC_game_menu > ul > span:nth-of-type(1) {
  left: 1000px;
  display: none;
}
.PCgame > .PC_game > .PC_game_menu > ul > span:nth-of-type(2) {
  left: 1165px;
}
.PCgame > .PC_game > .PC_game_menu > .ul2 {
  display: none;
}
/*********************详情栏--展开效果*********************/
.open_anime {
  width: 1212px;
  margin: auto;
  height: 135px;
  overflow: hidden;
}
.open_anime > .group {
  width: 2424px;
  height: 135px;
  position: relative;
}
.open_anime > .group > .one_show {
  width: 286px;
  height: 100%;
  float: left;
  margin-right: 18px;
  overflow: hidden;
  position: relative;
  background: transparent;
}
.open_anime > .group > .one_show:last-child {
  margin: 0;
}
.open_anime > .group > .one_show > .onegroup {
  width: 1212px;
  height: 120px;
  position: relative;
  background: transparent;
}
.open_anime > .group > .one_show > .onegroup > img {
  background: transparent;
  border-radius: 10px;
  float: left;
  margin-right: 12px;
  position: relative;
}
.open_anime > .group > .one_show > span {
  display: inline-block;
  top: -10px;
  width: 286px;
  text-align: center;
  position: relative;
}
.open_anime > .group > .one_show:hover {
  color: #FF2400;
}
/************热门精选和折扣促销相同的一部分**************/
.right_comm > ul > li {
  width: 286px;
  height: 190px;
  margin-left: 30px;
  float: left;
  border-radius: 10px;
  overflow: hidden;
}
.right_comm > ul > li > pic {
  display: block;
  width: 286px;
  height: 135px;
  background-size: 100% 100%;
}
.right_comm > ul > li > pic > div {
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}
.right_comm > ul > li > pic > div > p:nth-child(1) {
  font-size: 18px;
  text-align: center;
  padding: 20px 0 12px 0;
}
.right_comm > ul > li > pic > div > p:nth-child(2) {
  font-size: 14px;
  text-align: center;
  color: #9c9c9c;
}
.right_comm > ul > li > pic > div > div {
  margin: 20px auto 0 auto;
  width: 102px;
  height: 32px;
  background: white;
  border: 1px solid #FF2400;
  border-radius: 16px;
  text-align: center;
  line-height: 30px;
  color: #FF2400;
}
.right_comm > ul > li > pic > div > div:hover {
  background: #FF2400;
  color: white;
}
.right_comm > ul > li > div {
  height: 55px;
  width: 100%;
  padding: 10px 0;
  background: white;
}
.right_comm > ul > li > div > span {
  height: 35px;
  width: 78px;
  background: #74ad4e;
  float: left;
  color: white;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
}
.right_comm > ul > li > div > div {
  height: 35px;
  width: 80px;
  float: left;
}
.right_comm > ul > li > div > div > p {
  margin-left: 15px;
}
.right_comm > ul > li > div > div > p:nth-child(1) {
  font-size: 12px;
  color: #afafaf;
  text-decoration: line-through;
}
.right_comm > ul > li > div > div > p:nth-child(2) {
  font-size: 14px;
  color: #FF2400;
}
.right_comm > ul > li > div > s {
  float: right;
  margin-right: 10px;
  width: 75px;
  height: 25px;
  margin-top: 10px;
}
.right_comm > ul > li:hover > pic {
  background: transparent;
}
.right_comm > ul > li:hover > pic > div {
  display: block;
}
/*********************详情栏--热门精选*********************/
.hot_game {
  width: 1200px;
  margin: 50px auto;
}
.hot_game > .hot_box {
  width: 1200px;
  height: 540px;
  margin-top: 20px;
}
.hot_game > .hot_box > .hot_top {
  width: 100%;
  height: 410px;
  margin-bottom: 30px;
}
.hot_game > .hot_box > .hot_top > .hot_top_left {
  width: 560px;
  height: 100%;
  float: left;
}
.hot_game > .hot_box > .hot_top > .hot_top_left > .hot_banner {
  width: 560px;
  height: 100%;
  position: relative;
}
.hot_game > .hot_box > .hot_top > .hot_top_left > .hot_banner img {
  display: block;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  z-index: 0;
}
.hot_game > .hot_box > .hot_top > .hot_top_left > .hot_banner img:nth-of-type(1) {
  opacity: 1;
  z-index: 1;
}
.hot_game > .hot_box > .hot_top > .hot_top_right {
  height: 100%;
  float: left;
  width: 640px;
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(1) {
  margin-bottom: 30px;
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(1) > pic {
  background-image: url(../img/index/hot_bimg1.jpg);
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(2) {
  margin-bottom: 30px;
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(2) > pic {
  background-image: url(../img/index/hot_bimg2.jpg);
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(3) > pic {
  background-image: url(../img/index/hot_bimg3.jpg);
}
.hot_game > .hot_box > .hot_top > .hot_top_right > ul > li:nth-child(4) > pic {
  background-image: url(../img/index/hot_bimg4.png);
}
.hot_game > .hot_box > .hot_down {
  height: 100px;
  margin-top: 30px;
}
.hot_game > .hot_box > .hot_down > ul > li {
  float: left;
  margin-right: 37.5px;
  box-shadow: 0px 0px 10px #999;
  border-radius: 10px;
  overflow: hidden;
}
.hot_game > .hot_box > .hot_down > ul > li > div {
  width: 210px;
  height: 100px;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(1) {
  background-size: 100% 100%;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) {
  display: block;
  background: white;
  display: none;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: auto;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > p:nth-child(1) {
  width: 120px;
  font-size: 16px;
  color: #FF2400;
  padding: 10px 0;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > p:nth-child(2) {
  width: 160px;
  font-size: 12px;
  color: #9c9c9c;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > div {
  height: 22px;
  margin-top: 15px;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > div > span {
  height: 22px;
  width: 38px;
  background: #74ad4e;
  float: left;
  color: white;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > div > p {
  height: 22px;
  line-height: 22px;
  width: 40px;
  float: left;
  margin-left: 15px;
  font-size: 14px;
  color: #FF2400;
}
.hot_game > .hot_box > .hot_down > ul > li > div:nth-child(2) > div > s {
  float: right;
  margin-right: 10px;
  width: 75px;
  height: 22px;
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(1) > div:nth-child(1) {
  background-image: url(../img/index/hot_simg1.jpg);
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(2) > div:nth-child(1) {
  background-image: url(../img/index/hot_simg2.jpg);
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(3) > div:nth-child(1) {
  background-image: url(../img/index/hot_simg3.jpg);
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(4) > div:nth-child(1) {
  background-image: url(../img/index/hot_simg4.jpg);
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(5) {
  margin: 0;
}
.hot_game > .hot_box > .hot_down > ul > li:nth-child(5) > div:nth-child(1) {
  background-image: url(../img/index/hot_simg5.jpg);
}
.hot_game > .hot_box > .hot_down > ul > li:hover > div:nth-child(1) {
  display: none;
}
.hot_game > .hot_box > .hot_down > ul > li:hover > div:nth-child(2) {
  display: block;
}
/*********************详情栏--折扣促销*********************/
.discount_game {
  width: 1200px;
  margin: auto;
}
.discount_game .discount_box {
  width: 100%;
  height: 450px;
  margin-top: 30px;
}
.discount_game .discount_box > .discount_left {
  float: left;
  width: 560px;
  height: 100%;
}
.discount_game .discount_box > .discount_left > .dc_l_left {
  float: left;
  width: 260px;
  height: 410px;
  border-radius: 10px;
}
.discount_game .discount_box > .discount_left > .dc_l_right {
  float: left;
  margin-left: 35px;
  width: 260px;
  height: 410px;
  border-radius: 10px;
}
.discount_game .discount_box > .discount_left > div {
  overflow: hidden;
  position: relative;
}
.discount_game .discount_box > .discount_left > div img {
  display: block;
  position: absolute;
  z-index: 1;
  transition: transform 1s;
}
.discount_game .discount_box > .discount_left > div > p {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  width: 100%;
}
.discount_game .discount_box > .discount_left > div > p:nth-child(2) {
  font-size: 22px;
  padding: 60px 0 0 0;
  font-weight: 600;
}
.discount_game .discount_box > .discount_left > div > p:nth-child(3) {
  font-size: 14px;
  color: #acad88;
  padding: 10px 0 100px 0;
}
.discount_game .discount_box > .discount_left > div > p:nth-child(4) {
  font-size: 60px;
  font-weight: 600;
}
.discount_game .discount_box > .discount_left > div > p:nth-child(5) {
  font-size: 16px;
  padding: 10px 0 20px 0;
}
.discount_game .discount_box > .discount_left > div > div {
  position: relative;
  z-index: 10;
  margin: auto;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background: black;
  border: 2px solid #FF2400;
  color: #FF2400;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
}
.discount_game .discount_box > .discount_left > div:hover img {
  transform: scale(1.2);
}
.discount_game .discount_box > .discount_right {
  float: left;
  width: 640px;
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(1) {
  margin-bottom: 30px;
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(1) > pic {
  background-image: url(../img/index/discount_simg1.jpg);
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(2) {
  margin-bottom: 30px;
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(2) > pic {
  background-image: url(../img/index/discount_simg2.jpg);
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(3) > pic {
  background-image: url(../img/index/discount_simg3.jpg);
}
.discount_game .discount_box > .discount_right > ul > li:nth-child(4) > pic {
  background-image: url(../img/index/discount_simg4.jpg);
}
/*********************详情栏--凤凰出品*********************/
.fhyx_game_bg {
  width: 100%;
  height: 600px;
  background: url(../img/index/fhyx_bg.jpg) no-repeat;
}
.fhyx_game_bg .fhyx_game {
  width: 1200px;
  margin: auto;
  height: 600px;
  padding-top: 30px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box {
  width: 100%;
  height: 455px;
  margin-top: 50px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left {
  width: 300px;
  height: 100%;
  padding-left: 20px;
  float: left;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0 15px 0;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > p:nth-child(1) > b {
  color: #FF2400;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > p:nth-child(2) {
  font-weight: 600;
  font-size: 26px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > p:nth-child(4) {
  font-size: 22px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > span {
  display: block;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #808080;
  margin-top: 30px;
  margin: 50px 0 30px 0;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_left > div {
  width: 260px;
  height: 47px;
  color: #FF2400;
  border: 1px solid #FF2400;
  border-radius: 24px;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  margin-top: 135px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right {
  width: 900px;
  float: left;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li {
  position: relative;
  width: 270px;
  height: 450px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > img {
  display: block;
  position: absolute;
  transition: transform 0.5s;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > p {
  position: absolute;
  width: 236px;
  color: white;
  padding-left: 20px;
  z-index: 10;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  top: 200px;
  display: none;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > p:nth-child(3) {
  font-size: 20px;
  top: 385px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > p:nth-child(4) {
  font-size: 12px;
  top: 415px;
  color: #9c9c9c;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div {
  width: 100px;
  height: 35px;
  background: transparent;
  border: 2px solid #FF2400;
  color: #FF2400;
  position: absolute;
  bottom: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 18px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div:nth-of-type(1) {
  left: 20px;
  display: none;
  z-index: 10;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div:nth-of-type(1):hover {
  color: white;
  background: #FF2400;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div:nth-of-type(2) {
  left: 140px;
  display: none;
  z-index: 10;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div:nth-of-type(2):hover {
  color: white;
  background: #FF2400;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li > div:nth-of-type(3) {
  border: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li:hover > img {
  transform: scale(1.2);
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li:hover > p:nth-of-type(1) {
  display: block;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li:hover > p:nth-of-type(2) {
  top: 335px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li:hover > p:nth-of-type(3) {
  top: 365px;
}
.fhyx_game_bg .fhyx_game > .fhyx_game_box > .fhyx_game_right > ul > li:hover > div {
  display: block;
}
/*********************详情栏--主机专区*********************/
.zhuji_bg {
  width: 100%;
  height: 540px;
  margin-top: 50px;
  background: url(../img/index/zhuji_bg.jpg) no-repeat;
  background-position-y: 50px;
}
.zhuji_bg > .zhuji {
  width: 1200px;
  height: 490px;
  margin: auto;
}
.zhuji_bg > .zhuji > .zhuji_box {
  width: 1200px;
  height: 100%;
  margin-top: 20px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li {
  width: 225px;
  height: 490px;
  margin-right: 225px;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list {
  width: 1200px;
  height: 365px;
  background: white;
  padding: 45px 0 20px 0;
  position: absolute;
  display: none;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left {
  width: 620px;
  height: 300px;
  border-right: 1px solid #9c9c9c;
  position: relative;
  overflow: hidden;
  float: left;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > img {
  float: left;
  position: absolute;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > div {
  width: 275px;
  height: 275px;
  margin-left: 300px;
  padding-top: 30px;
  position: absolute;
  left: 31px;
  transition: top 1s;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > div > p:nth-of-type(1) {
  font-size: 25px;
  font-weight: 600;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > div > p:nth-of-type(2) {
  font-size: 18px;
  padding: 20px 0 60px 0;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > div > div {
  width: 222px;
  height: 40px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_left > div > div > span {
  width: 110px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  float: left;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_right {
  width: 525px;
  height: 250px;
  margin: 30px 0 0 10px;
  float: left;
  overflow: hidden;
  position: relative;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_right > div {
  width: 525px;
  height: 235px;
  position: absolute;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_right > div > div {
  width: 145px;
  height: 235px;
  margin-left: 30px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_right > div > div > img {
  display: block;
  width: 145px;
  height: 180px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li > .list > .list_right > div > div > div {
  width: 100%;
  font-size: 18px;
  height: 55px;
  color: white;
  text-align: center;
  line-height: 55px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li:hover > .list {
  display: block;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li:hover > .list > .list_left > img {
  animation: fd 0.5s linear;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li:hover > .list > .list_left > div {
  animation: down 0.6s linear;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > li:hover > .list > .list_right > div {
  animation: rightslide 0.5s linear;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 {
  background-image: url(../img/index/ps4_bg.png);
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_menu > img {
  position: absolute;
  left: 40px;
  top: 70px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list {
  left: 8px;
  z-index: 5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_left {
  width: 620px;
  border-right: 1px solid #9c9c9c;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_left > img {
  left: 32px;
  top: 25px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_left > div > div {
  border: 1px solid #0469f5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_left > div > div > span:nth-of-type(1) {
  color: #0469f5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_left > div > div > span:nth-of-type(2) {
  color: white;
  background: #0469f5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ps4 > .ps4_list > .ps4_right > div > div > div {
  background: #0469f5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns {
  background-image: url(../img/index/ns_bg.png);
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_menu > img {
  position: absolute;
  left: -10px;
  top: 100px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list {
  left: -442px;
  display: none;
  z-index: 5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_left {
  width: 620px;
  border-right: 1px solid #9c9c9c;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_left > img {
  left: 5px;
  top: 45px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_left > div > div {
  border: 1px solid #FF2400;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_left > div > div > span:nth-of-type(1) {
  color: #FF2400;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_left > div > div > span:nth-of-type(2) {
  color: white;
  background: #FF2400;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .ns > .ns_list > .ns_right > div > div {
  background: #FF2400;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox {
  margin: 0;
  background-image: url(../img/index/xbox_bg.png);
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_menu > img {
  position: absolute;
  left: 0px;
  top: 90px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list {
  left: -892px;
  display: none;
  z-index: 5;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_left {
  width: 620px;
  border-right: 1px solid #9c9c9c;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_left > img {
  left: -8px;
  top: 45px;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_left > div > div {
  border: 1px solid #44bb4f;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_left > div > div > span:nth-of-type(1) {
  color: #44bb4f;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_left > div > div > span:nth-of-type(2) {
  color: white;
  background: #44bb4f;
}
.zhuji_bg > .zhuji > .zhuji_box > ul > .xbox > .xbox_list > .xbox_right > div > div {
  background: #44bb4f;
}
.body {
  width: 1200px;
  margin: auto;
  height: 100%;
  position: relative;
  transform: translate(0, 0);
}
.body .stairs {
  position: fixed;
  right: -100px;
  top: 600px;
  width: 80px;
  height: 300px;
  border-right: 1px solid #FF2400;
  font-size: 14px;
  text-align: right;
}
.body .stairs li {
  width: 60px;
  height: 50px;
  color: #999;
  line-height: 50px;
}
.body .stairs .act-stairs {
  color: #FF2400;
  font-weight: 600;
}
